<div class="about-container">
    <header class="header">
      <nav class="menu">
        <ul>
          <li><a href="#">Strona główna</a></li>
          <li><a href="/about">O nas</a></li>
          <li><a href="/contact">Kontakt</a></li>
        </ul>
      </nav>
    </header>
  
    <div class="about-content">
      <h1 class="title">O Nas</h1>
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu dui eget risus scelerisque tristique. Nullam non nisl vel ante tincidunt congue. Donec aliquam quam et felis ultrices, nec interdum ex varius. Nunc varius lorem ut venenatis convallis. Nulla facilisi. Duis tristique ligula eu augue ultrices, non maximus odio efficitur. Nulla facilisi. Suspendisse eget augue finibus, vulputate velit at, tristique mauris. Curabitur ut hendrerit nulla. Vestibulum sollicitudin neque id risus pharetra, id placerat justo dapibus. Vestibulum pellentesque lacus nec lectus sagittis vulputate. Fusce quis tellus at nunc aliquam tempus. Ut luctus elit dui, et suscipit leo tempus sit amet.</p>
  
        <p>Praesent feugiat justo a justo venenatis, vel fermentum turpis consequat. Pellentesque tempor lacinia eros ac scelerisque. Sed non posuere tellus. In ac elit aliquet, tincidunt nunc vitae, mattis tellus. Fusce rutrum eleifend nibh, nec pharetra lorem gravida vitae. Nam vulputate consectetur leo, in elementum dui fringilla et. In eu eros ut enim efficitur tristique ac eu metus. Fusce dapibus risus id mi tristique ultrices. Etiam venenatis augue nisl, in auctor mauris hendrerit ac. Sed vel quam risus. Proin in vulputate arcu, nec pulvinar ligula.</p>
  
        <p>Curabitur luctus posuere sapien, a varius ante malesuada sed. Duis eget ullamcorper erat. Quisque ac ante ipsum. Fusce laoreet metus sit amet tellus consequat posuere. Mauris sit amet velit et nisi viverra consectetur. Aenean hendrerit tincidunt nisl, sed pretium justo congue in. Praesent at nibh interdum, pellentesque velit ac, vehicula libero. Vestibulum congue nisi at magna tempor, eget tristique lacus fringilla. Vivamus gravida condimentum nibh, sit amet dignissim lorem semper non. Proin fermentum, felis sed finibus faucibus, mauris tellus finibus diam, in rhoncus enim nisl id risus. Fusce facilisis, dolor ut varius ultrices, erat eros facilisis orci, nec malesuada sapien nisl ac mi. Mauris consectetur nunc id fringilla efficitur. Nam placerat justo eget efficitur scelerisque.</p>
        <img class="image" src="https://teskosteel.com.pl/uploads/elfinder/admin_marcom/firma.jpg" alt="obrazek">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu dui eget risus scelerisque tristique. Nullam non nisl vel ante tincidunt congue. Donec aliquam quam et felis ultrices, nec interdum ex varius. Nunc varius lorem ut venenatis convallis. Nulla facilisi. Duis tristique ligula eu augue ultrices, non maximus odio efficitur. Nulla facilisi. Suspendisse eget augue finibus, vulputate velit at, tristique mauris. Curabitur ut hendrerit nulla. Vestibulum sollicitudin neque id risus pharetra, id placerat justo dapibus. Vestibulum pellentesque lacus nec lectus sagittis vulputate. Fusce quis tellus at nunc aliquam tempus. Ut luctus elit dui, et suscipit leo tempus sit amet.</p>
      </div>
    </div>
  </div>
  